[Unit]
Description=Update zsh plugins
After=network.target

[Timer]
OnCalendar=Mon 07:00
Persistent=true
RandomizedDelaySec=15m
Unit=zsh-plugins-update.service

[Install]
WantedBy=timers.target
