version: 2
log-level: 1
root-markers:
  - .git/
  - RCS/
  - SCCS/
  - CVS/
  - .git/
  - .svn/
  - .hg/
  - .bzr/
  - _darcs/
  - .git
  - .ignore
lint-debounce: 0.6s

tools:
  groovylint: &npm-groovy-lint
    lint-command: 'npm-groovy-lint --output txt --noserver ${INPUT}'
    lint-ignore-exit-code: true
    lint-stdin: true
    lint-formats:
      - '  %l%*[^m]m%tnfo%*[^m]m  %m'
      - '  %l%*[^m]m%tarning%*[^m]m  %m'
      - '  %l%*[^m]m%trror%*[^m]m  %m'
    lint-category-map:
      i: I
      w: W
      e: E

languages:
  groovy:
    - <<: *npm-groovy-lint

  Jenkinsfile:
    - <<: *npm-groovy-lint
