[Unit]
Description=Update sdkman
After=network.target

[Timer]
OnCalendar=Mon,Wed,Fri 08:00
Persistent=true
RandomizedDelaySec=10m
Unit=sdkman-update.service

[Install]
WantedBy=timers.target
