[Unit]
Description=Update neovim plugins
After=network.target

[Timer]
OnCalendar=07:00
OnCalendar=13:00
OnCalendar=19:00
OnBootSec=10min
Persistent=true
RandomizedDelaySec=3m
Unit=nvim-update.service

[Install]
WantedBy=timers.target
