[Unit]
Description=Update visual studio code extensions
After=network.target

[Timer]
OnCalendar=07:00
OnCalendar=13:00
OnCalendar=19:00
OnBootSec=10min
Persistent=true
RandomizedDelaySec=3m
Unit=vscode-exts-update.service

[Install]
WantedBy=timers.target
